<h1>Job Portal</h1>
<h2>Welcome to the portal where you can find the jod you always wanted!</h2>

<%= link_to 'Empresas Cadastradas', companies_path %>

<%= link_to 'Registre-uma-vaga', new_job_path %>

<%= link_to 'Ver-vagas', jobs_path %>


<%= link_to 'Acompanhar-candidaturas', candidate_jobs_candidate_path(current_candidate) %>