<h1>All jobs applied!</h1>

<% @jobs.each do |j| %>
    <dt>Title:</dt>
    <dd><%= link_to j.job.title, job_applied_candidate_job_path(@candidate, j.job) %></dd>

    <dd>Status:</dd>
    <dl><%= j.status %></dl>
    <hr>

<% end %>
<%# @cjobs.status %>